@tailwind components;

@tailwind utilities;


.header_container{
    @apply h-20 fixed top-0 left-0 right-0 z-50
    flex flex-row justify-between
    border-b border-slate-300/10
    bg-slate-900/75 hover:bg-slate-900 transition-colors duration-300
    backdrop-blur

}

.header_left{
    @apply flex flex-row items-center space-x-16 justify-self-start px-10
}

.header_right{
    @apply flex flex-row items-center space-x-4 justify-self-end px-10
}

.logo{
    @apply w-12 max-w-none transition-all duration-300 transform-gpu hover:scale-110
}

.nav_links{
    @apply flex flex-row space-x-6
    text-2xl
    font-medium
}

.nav_links > li{
    @apply
    transition-all duration-300 hover:text-dirty-white transform-gpu hover:scale-110
    hover:font-bold
}

.search{
    @apply
    bg-slate-700 
    w-96 
    px-3 py-2 
    rounded-xl
    flex flex-row
    focus-within:outline-none
    focus-within:border-2
    focus-within:border-orange-300
}

.searchbar{
    @apply
    flex-grow
    bg-slate-700
    focus:outline-none
}

.user{
    @apply flex flex-row
}

