@tailwind components;

@tailwind utilities;


.header_container{
    @apply fixed top-0 left-0 right-0 z-50
    flex flex-col lg:flex-row
    border-b border-slate-300/10
    lg:bg-gradient-to-t lg:from-slate-900/75 lg:to-slate-900/75 lg:hover:bg-slate-900
    bg-gradient-to-r from-slate-900 to-slate-900/90
    transition-colors duration-300
    backdrop-blur
    justify-between
}

.header_left{
    @apply flex flex-row items-center justify-self-start px-10 h-20
    justify-between
}

.header_right{
    @apply lg:flex flex-col lg:flex-row
    w-full lg:w-auto
    lg:justify-between lg:flex-grow lg:items-center 
    lg:space-x-4 lg:space-y-0 
    space-y-4 
    lg:justify-self-end px-10
}

.logo{
    @apply w-8 sm:w-12 max-w-none transition-all duration-300 transform-gpu hover:scale-110
}

.nav_links{
    @apply flex flex-col lg:flex-row 
    lg:space-x-4
    space-y-6 lg:space-y-0
    xl:space-x-6
    lg:text-2xl
    font-medium
    text-3xl
}

.nav_links > li{
    @apply
    transition-all duration-300
    lg:hover:text-dirty-white transform-gpu lg:hover:scale-110
    lg:hover:font-bold
}

.search{
    @apply
    bg-slate-700 
    max-w-md min-w-fit
    px-3 py-2 
    rounded-xl
    flex flex-row
    items-center
    my-2
    focus-within:outline-none
    focus-within:border-spacing-1
    focus-within:border-2
    focus-within:border-orange-300
}

.searchbar{
    @apply
    flex-grow
    bg-slate-700
    focus:outline-none
}

.user{
    @apply flex flex-row
}

.nav_link{
    @apply text-orange-500 font-bold lg:border-b-2 border-orange-500
}

