@tailwind components;
@tailwind utilities;


.header_container {
    @apply fixed top-0 left-0 right-0 z-50
    flex flex-col lg:flex-row
    border-b border-slate-300/10
    lg:bg-gradient-to-t lg:from-slate-900/75 lg:to-slate-900/75 lg:hover:bg-slate-900
    bg-gradient-to-r from-slate-900 to-slate-900/75
    transition-colors duration-300
    backdrop-blur
    justify-between
}

.header_left {
    @apply flex flex-row items-center justify-self-start px-[3vw] lg:pl-[3vw] lg:pr-0 h-auto lg:h-20
    justify-between
}

.header_right {
    @apply lg:flex flex-col lg:flex-row
    w-full lg:w-auto
    lg:justify-between lg:flex-grow lg:items-center 
    lg:space-x-2 xl:space-x-4 lg:space-y-0 
    space-y-4 
    lg:justify-self-end lg:pl-4 pr-[3vw] pl-[3vw]
    lg:py-0
    pb-20
}

.logo {
    @apply w-10 h-10
    sm:w-12 sm:h-12 
    hover:scale-110
    lg:mr-4
    transition-all duration-300 transform-gpu
}

.nav_links {
    @apply flex flex-col lg:flex-row 
    lg:space-x-1 xl:space-x-4
    space-y-6 lg:space-y-0
    lg:text-2xl
    font-medium
    text-3xl
    list-none
}

.nav_links > li {
    @apply
    transition-all duration-300
    lg:hover:text-dirty-white transform-gpu lg:hover:scale-110
    lg:hover:font-bold
}

.search {
    @apply
    bg-slate-700 
    px-3 py-2 
    rounded-xl
    flex flex-row
    items-center
    focus-within:outline-none
    focus-within:border-spacing-1
    focus-within:border-2
    focus-within:border-orange-300
    h-10
    xl:h-12
    overflow-hidden
}

.searchbar {
    @apply  
    bg-slate-700
    focus:outline-none
    
}

.user {
    @apply flex flex-row lg:space-x-2 xl:space-x-4
    lg:px-2 py-2
}

.nav_link {
    @apply text-orange-500 font-bold lg:border-b-2 border-orange-500
}

.login{
    @apply
    my-2
    bg-blue-700/75 hover:bg-main-orange
    text-white px-6 py-2 h-10 xl:h-12 rounded-xl text-center xl:text-xl  
    hover:scale-110 transition-all duration-300 w-full lg:w-auto
}

