@tailwind components;
@tailwind utilities;

.slider_container{
    @apply
    h-auto
    lg:max-w-[1184px] 2xl:max-w-[1552px]
    px-[3vw] xl:px-5
    pt-3 lg:pt-7
    pb-7 lg:pb-7
    
}

.slider{
    @apply 
    w-full h-full 
    flex flex-row
    lg:px-5
    py-7 lg:py-5
    gap-4
    overflow-x-scroll
    overflow-y-hidden
    scrollbar-thin scrollbar-thumb-main-orange scrollbar-thumb-rounded-xl
    lg:scrollbar-none
    scroll-smooth
}

.slider_button{
    @apply hidden lg:flex flex-row
    items-center
    hover:h-40 hover:text-main-orange 
    w-auto h-20 
    rounded-full p-2
    bg-black/20 text-white cursor-pointer
    active:bg-main-orange/20
    transition-all transform-gpu duration-200
}