@tailwind components;
@tailwind utilities;

.holder {
    @apply flex flex-col bg-dirty-white min-w-full
    lg:rounded-[30px] lg:min-w-fit lg:h-fit
}

.container {
    @apply w-full max-w-full flex 
    lg:p-5 lg:w-[45rem] lg:max-w-[68rem] 2xl:w-[80rem]
}

.grid_row {
    @apply w-full flex flex-row justify-center flex-wrap lg:p-5 lg:justify-start
}

.button {
    @apply text-center drop-shadow-md py-6
    lg:w-full lg:p-6 lg:rounded-xl lg:transition-all lg:hover:scale-[100.5%]
}

.button_off {
    @apply pointer-events-none bg-gray-300 text-gray-600 lg:hover:scale-100
}