.container {
    margin: 0 auto;
    max-width: 1080px;
}

.grid_row {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px;
}

.mapper {
    padding: 20px;
    color: black;
}