@tailwind components;
@tailwind utilities;

.grid_item {
    @apply h-[32rem] 2xl:basis-[33%] 2xl:last:flex  relative box-border py-4
    lg:basis-[50%] lg:hover:scale-105 lg:p-4 lg:w-[128px] lg:mx-0
    basis-[100%] max-w-fit transition-all duration-300
}

.link_container {
    @apply absolute top-0 left-0 bottom-0 right-0 z-20 my-4 lg:my-0
}

.container {
    @apply h-[30rem] min-w-full sm:mx-auto sm:min-w-0 sm:w-full relative justify-end border-y-2 border-gray-600/90 shadow-black/25 shadow-lg 
    lg:border-2 lg:border-main-orange/50 lg:rounded-xl
}

.title {
    @apply 
    font-extrabold text-2xl leading-7 text-start text-dark-text p-6 justify-around
    bg-dirty-white/75 lg:left-auto
    lg:text-dirty-white lg:bg-transparent lg:px-4 lg:py-2
    lg:text-shadow-xl
}

.extra_text {
    @apply hidden
     lg:flex text-main-orange text-[0.9em] leading-7
}

.desc_container {
    @apply p-6 text-dark-text text-base font-light leading-5 bg-white/90 mix-blend-normal border-t-2
    lg:border-t-main-orange lg:px-4 lg:pt-2
}

.desc {
    @apply overflow-hidden text-ellipsis leading-5 max-h-[1.25rem*3] transition-all ease-in-out duration-300
}

.desc {
    @apply flex lg:line-clamp-2 
}

.grid_item:hover .desc {
    @apply line-clamp-10
}
