.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    height: 30em;
    width: 18em;
    border-radius: 10px;
    border: 0.2em solid rgb(255, 122, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.25s;
}

.title {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 1.2em;
    display: flex;
    align-items: flex-end;
    color: #ECECEC;
    text-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.8);
    padding: 0.5em;
}

.extra_text {
    color: #FF7A00;
    font-size: 0.9em;
    line-height: 1.75em;
}

.desc_container {
    padding: 0.5em 1em 1em 1em;
    color:  #1A1A1A;
    font-size: 0.95em;
    font-weight: 300;
    line-height: 1.25em;
    background: rgba(255, 255, 255, 0.92);
    mix-blend-mode: normal;
    border-top: 0.3em solid #FF7A00;
    transition: transform 0.1s;
}

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.25em;        /* fallback */
    max-height: 1.25*3;       /* fallback */
    transition: -webkit-line-clamp 0.25s;
}

.container:hover {
    transform: scale(1.05);
}

.container:hover > .desc_container > .desc {
    -webkit-line-clamp: 10;
}