@tailwind components;
@tailwind utilities;

.grid_item {
    @apply h-[32rem] 2xl:basis-[33%] 2xl:last:flex w-[128px] relative box-border p-4
    basis-[50%] hover:scale-105 last:hidden
    
}

.grid_item {
    -ms-flex: auto;
}

.link_container {
    @apply absolute top-0 left-0 bottom-0 right-0 z-10
}

.container {
    @apply h-[30rem] w-full flex flex-col justify-end rounded-xl border-2 border-main-orange shadow-md shadow-black/25 transition-all
}

.title {
    @apply font-extrabold text-2xl leading-7 flex items-end text-dirty-white p-2 shadow-lg shadow-black/25
}

.extra_text {
    @apply text-main-orange text-[0.9em] leading-7
}

.desc_container {
    @apply p-4 pt-2 text-dark-text text-base font-light leading-5 bg-white/90 mix-blend-normal border-t-2 border-t-main-orange
    
}

.desc {
    @apply overflow-hidden text-ellipsis leading-5 max-h-[1.25rem*3] transition-all ease-in-out
}

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
}

.grid_item:hover > .container > .desc_container > .desc {
    -webkit-line-clamp: 10;
}