@tailwind components;

@tailwind utilities;

.footer{
    @apply
    bg-slate-900 
    flex flex-col
    sticky bottom-0 left-0 right-0
    space-y-1
    items-center
    border-t border-slate-300/10
}

.footer_links{
    @apply flex flex-col justify-between lg:flex-row
    px-20
    pt-9
    w-full
    max-w-4xl
    items-center
}

.p{
    @apply text-gray-200
    font-thin
    pt-3
    px-6
    text-center
}

.p2{
    @apply text-gray-400
    font-thin
    pb-9
    px-6
    text-center
}

.socials{
    @apply
    space-x-4 sm:space-x-8
    flex flex-row 
    pt-9 pb-6
    px-2
    list-none
}

.flogo{
    @apply w-20 h-20
    hover:scale-125
    lg:mr-4
    transition-all duration-300 transform-gpu
}

.fsvg{
    @apply w-12 h-12
    hover:scale-125
    transition-all duration-300 transform-gpu 
}

.finfo{
    @apply space-y-2 text-center flex flex-col
    py-3
    list-none
}

.finfo > li{
    @apply hover:underline
}