.container {
    height: 28em;
    width: 15em;
    display: flex;
    flex-direction: column;
    border: 0.2em solid #ECECEC;
    border-radius: 25px;
    filter: drop-shadow(0em 0em 0.5em rgba(255, 255, 255, 0.5));
    margin: auto;
    align-items: center;
    justify-content: space-between;
    transition: filter 0.1s, transform 0.1s;
}

.container:hover {
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255, 0.75));
    transform: scale(1.05);
}

.tag_container {
    width: 100%;
    margin: 15px;
}

.tag {
    width: fit-content;
    margin-left: auto;
    margin-right: 15px;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    opacity: 92.5%;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 125%;
    padding-bottom: 0.8em;
    text-shadow: 0px 0.25em 0.5em rgba(0, 0, 0, 0.75);
}