.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: fit-content;
}

.video-responsive > iframe {
    top: 0;
    left: 0;
    position: absolute;
}